$color-hf: rgba(45, 96, 74, 1);
$color-boton: rgb(199, 198, 198);
$color-title: rgba(226, 226, 226, 1);
$color-link: black;
$color-hover: white;

$paleta: (
    "header": $color-hf,
    "footer": $color-hf,
    "title": $color-title,
    "boton": $color-boton,
    "link": $color-link,
    "hover": $color-hover, 
);