header{
    background-color:map-get($paleta, "header");
}

/*MOBILE*/
@media only screen and (max-width: 767px){

.menu-logo{
    height: 100%;
    width: 100%;
    border: none;
    background-color: none;
}
    
.nav-item{
    .nav-link--a{
        color: map-get($paleta, "link" );
        font-weight: 500;
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }
}    
    
.logoimg{
    height: 80px;
    transition: transform 0.9s;
    &:hover{
        transform: rotate(360deg);
    }
}

}
/*TABLET*/
@media only screen and (min-width: 576px) and (max-width:991px){

    .dropmenu{
        display: none;
    }
    
    .container-header{
        display: flex;
        flex-direction: column;
    }
    
    .nav-item{
        .nav-link--a{
        color: map-get($paleta, "link" );
        font-weight: 500;
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        }
    }

    .logoimg{
        height: 80px;
        transition: transform 0.9s;
        &:hover{
            transform: rotate(360deg);
        }
    }
}


/*DESKTOP*/
@media only screen and (min-width: 992px) and (max-width:1199px){

    .nav{
        margin-right: 60px;
    }
    
    .dropmenu{
        display: none;
    }
    
    .navbar-collapse{
        flex-grow: 0;
    }
    
    .nav-link--a{
    color: map-get($paleta, "link" );
    font-weight: 500;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: transform 0.9s;
    transition: 1s;
        &:hover{
            color: map-get($paleta, "hover" ); transition: 1s;
            transform: scale(1.1);
        }
    }

    .ancla-img{
        margin-left: 80px;
    .logoimg{
        height: 90px;
        transition: transform 0.9s;
        &:hover{
            transform: rotate(360deg);
        }
        }
    }
}

/*DESKTOP LARGE*/
@media only screen and (min-width: 1200px){

    .nav{
    margin-right: 60px;
    }
    
    .dropmenu{
    display: none;
    }
    
    .navbar-collapse{
    flex-grow: 0;
    }

    .nav-link--a{
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: transform 0.9s;
    transition: 1s;
    color: map-get($paleta, "link" );
    font-weight: 500;
        &:hover{
            color:  map-get($paleta, "hover" ); transition: 1s;
            transform: scale(1.1);
        }
    }

    .ancla-img{
    margin-left: 80px;
    .logoimg{
        transition: transform 0.9s;
        height: 90px;
        &:hover{
            transform: rotate(360deg);
        }
    }
}
}