*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "colores";
@import "header";
@import "footer";
@import "./_pags.scss/main-mobile";
@import "./_pags.scss/main-tablet";
@import "./_pags.scss/main-desktop";
@import "./_pags.scss/main-large-desktop";
@import "botones";
@import "./_pags.scss/mixin";