/*contacto*/

    .contacto{
        display: flex;
        justify-content: center;
        padding: 20px;
        .contacto__text{
            padding: 15px 15px 15px;
            width: 800px;
            text-align: center;
            p{
                padding: 0;
                margin: 0;
            }
        }  
    }

    .section-form{
        padding-bottom: 15px;
    }

    @media only screen and (min-width: 992px) and (max-width:1199px){

        .section-form{
            height: 62vh;
        }
    }

    @media only screen and (min-width: 576px) and (max-width:991px){

        .section-form{
            height: 65vh;
        }
    }

    @media only screen and (min-width: 1200px){  

        .section-form{
            height: 64vh;
        }
    }
