        /*tienda*/

        .container__title{
            background-color: rgba(226, 226, 226, 1);
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            h2{
                -webkit-animation: roll-in-left 0.6s ease-out both;
                animation: roll-in-left 0.6s ease-out both;
            }
        }
    
        @-webkit-keyframes roll-in-left {
            0% {
                -webkit-transform: translateX(-800px) rotate(-540deg);
                transform: translateX(-800px) rotate(-540deg);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1;
            }
        }
            @keyframes roll-in-left {
                0% {
                -webkit-transform: translateX(-800px) rotate(-540deg);
                        transform: translateX(-800px) rotate(-540deg);
                opacity: 0;
                }
                100% {
                -webkit-transform: translateX(0) rotate(0deg);
                        transform: translateX(0) rotate(0deg);
                opacity: 1;
                }
            }
    
        .container__productos{
            padding: 0 50px 20px;
            h3{
                padding: 20px 0;
                margin: 0;
            }
        
        }

        .col-flex{
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }