*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(45, 96, 74, 1);
}

    /*mobile*/

@media only screen and (max-width: 767px){

    /*header*/
    .menu-logo{
        height: 100%;
        width: 100%;
        border: none;
        background-color: none;
    }
    
    .nav-item a{
        color: black;
        font-weight: 500;
    }
    
    .nav-link--a{
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }
    
    .logoimg{
        height: 80px;
        transition: transform 0.9s;
    }
    
    .logoimg:hover{
        transform: rotate(360deg);
    }
    
    /*footer*/
    footer{
        background-color: rgba(45, 96, 74, 1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer__redes{
        height: 30px;
        width: 150px;
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }

    .footer__redes img{
        height: 100%;
        width: 100%;
    }
    
    /*INDEX*/
    .pearljam{
        background-image: url(../img/fondos/fondopearljam.jpg);
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bio__text h2{
        padding: 20px 0;
        margin: 0;
        font-size: 1.3em;
    }

    .bio__text p{
        padding: 0 20px;
    }

    .productos{
        margin-bottom: 10px;
    }

    /*TIENDA*/

    .container__title{
        background-color: rgba(226, 226, 226, 1);
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8em;
    }

    .container__productos{
        padding: 0 50px 20px;
    }

    .container__productos h2{
        padding: 20px 0;
        margin: 0;
        font-size: 1.3em;
    }

    aside{
        display: none;
    }

    .col-flex{
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }

    /*DISCOGRAFIA*/

    .container-fluid--disc{
        margin-top: 15px;
    }

    
    .img-carousel{
        height: 220px;
        width: 100%;
    }

    .disco__text h2{
        margin-top: 10px;
        text-align: center;
        font-size: 1.3em;
    }

    .disco__text p{
        padding: 0px 20px;
    }

    iframe{
        padding: 10px 20px 20px;
        width: 100%;
        height: 400px;
    }

    /*GALERIA*/

    .row-gal img{
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    /*CONTACTO*/

    .contacto__text{
        padding: 15px 15px 15px;
    }  

    .contacto__text p{
        padding: 0;
        margin: 0;
    }

    .section-form{
        padding-bottom: 15px;
    }

    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }
}

  /*TABLET*/

  @media only screen and (min-width: 577px) and (max-width:991px){

    /*header*/

    .dropmenu{
        display: none;
    }

    .container-header{
        display: flex;
        flex-direction: column;
    }

    .nav-item a{
        color: black;
        font-weight: 500;
    }
        
    .nav-link--a{
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }
        
    .logoimg{
        height: 80px;
        transition: transform 0.9s;
    }
        
    .logoimg:hover{
        transform: rotate(360deg);
    }

        

    /*footer*/

    footer{
        background-color: rgba(45, 96, 74, 1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .footer__redes{
        height: 30px;
        width: 150px;
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }
    
    .footer__redes img{
        height: 100%;
        width: 100%;
    }

    /*index*/

    .pearljam{
        background-image: url(../img/fondos/fondopearljam.jpg);
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .bio__text h2{
        padding: 20px 0;
        margin: 0;
        font-size: 1.3em;
    }
    
    .bio__text p{
        padding: 0 20px;
    }
    
    .productos{
        margin-bottom: 10px;
    }

    /*tienda*/

    .container__title{
        background-color: rgba(226, 226, 226, 1);
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8em;
    }
    
    .container__productos{
        padding: 0 50px 20px;
    }
    
    .container__productos h2{
        padding: 20px 0;
        margin: 0;
        font-size: 1.3em;
    }
    
    aside{
        display: none;
    }
    
    .col-flex{
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    
    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }

    /*discografia*/

    .container-fluid--disc{
        margin-top: 15px;
    }
    
        
    .img-carousel{
        height: 400px;
        width: 100%;
    }
    
    .disco__text h2{
        margin-top: 10px;
        text-align: center;
        font-size: 1.3em;
    }
    
    .disco__text p{
        padding: 0px 20px;
    }
    
    iframe{
        padding: 10px 20px 20px;
        width: 100%;
        height: 400px;
    }
        
    /*galeria*/

    .row-gal img{
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    /*contacto*/

    .contacto__text{
        padding: 20px 15px 20px;
        text-align: center;
    }  
    
    .contacto__text p{
        padding: 0;
        margin: 0;
    }
    
    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }

    .section-form{
        height: 65vh;
    }
  }

  /*DESKTOP*/
  @media only screen and (min-width: 992px) and (max-width:1199px){

    /*header*/
    .dropmenu{
        display: none;
    }

    .navbar-collapse{
        flex-grow: 0;
    }

    .nav-item a{
        color: black;
        font-weight: 500;
    }
    
    .nav-link--a{
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }
    
    .logoimg{
        height: 80px;
        transition: transform 0.9s;
    }
    
    .logoimg:hover{
        transform: rotate(360deg);
    }

    /*footer*/

    footer{
        background-color: rgba(45, 96, 74, 1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer__redes{
        height: 30px;
        width: 150px;
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }

    .footer__redes img{
        height: 100%;
        width: 100%;
    }

    /*index*/

    .pearljam{
        background-image: url(../img/fondos/fondopearljam.jpg);
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bio__text h2{
        padding: 20px 0;
        margin: 0;
        font-size: 1.3em;
    }

    .bio__text p{
        padding: 0 20px;
    }

    .productos{
        margin-bottom: 10px;
    }

    /*tienda*/

    .container__title{
        background-color: rgba(226, 226, 226, 1);
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8em;
    }

    .container__productos{
        padding: 0 50px 20px;
    }

    .container__productos h2{
        padding: 20px 0;
        margin: 0;
        font-size: 1.3em;
    }

    .col-flex{
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }

    /*discografia*/

    
    .container-fluid--disc{
        margin-top: 15px;
    }
    
    .img-carousel{
        height: 600px;
        width: 100%;
    }

    .disco__text h2{
        margin-top: 10px;
        text-align: center;
        font-size: 1.3em;
    }

    .disco__text p{
        padding: 0px 20px;
    }

    iframe{
        padding: 10px 20px 20px;
        width: 100%;
        height: 400px;
    }

    /*galeria*/

    .row-gal img{
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    /*contacto*/

    .contacto__text{
        padding: 20px 15px 20px;
        text-align: center;
    }  
    
    .contacto__text p{
        padding: 0;
        margin: 0;
    }
    
    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }

    .section-form{
        height: 62vh;
    }
  }

  /*DESKTOP LARGE*/

@media only screen and (min-width: 1200px){
    
    /*header*/

    .dropmenu{
        display: none;
    }

    .navbar-collapse{
        flex-grow: 0;
    }

    .nav-item a{
        color: black;
        font-weight: 500;
    }
    
    .nav-link--a{
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }
    
    .logoimg{
        height: 80px;
        transition: transform 0.9s;
    }
    
    .logoimg:hover{
        transform: rotate(360deg);
    }    

    footer{
        background-color: rgba(45, 96, 74, 1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer__redes{
        height: 30px;
        width: 150px;
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }

    .footer__redes img{
        height: 100%;
        width: 100%;
    }

      /*index*/

      .pearljam{
        background-image: url(../img/fondos/fondopearljam.jpg);
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bio__text h2{
        padding: 20px 0;
        margin: 0;
     
    }

    .bio__text p{
        padding: 0 20px;
    }

    .productos{
        margin-bottom: 10px;
    }

    /*tienda*/

    .container__title{
        background-color: rgba(226, 226, 226, 1);
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8em;
    }

    .container__productos{
        padding: 0 50px 20px;
    }

    .container__productos h2{
        padding: 20px 0;
        margin: 0;
        font-size: 1.3em;
    }

    .col-flex{
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }

    /*discografia*/
 
    .container-fluid--disc{
        margin-top: 15px;
    }
    
    .img-carousel{
        height: 730px;
        width: 100%;
    }

    .disco__text h2{
        margin-top: 10px;
        text-align: center;
        font-size: 1.3em;
    }

    .disco__text p{
        padding: 0px 20px;
    }

    .container__ifr{
        display: flex;
    }

    iframe{
        padding: 10px 20px 20px;
        width: 100%;
        height: 400px;
    }

    /*galeria*/

    .row-gal{
        display: flex;
        justify-content: center;
    }

    .row-gal img{
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .img-gal{
        height: 1200px;
    }

     /*contacto*/

     .contacto__text{
        padding: 20px 15px 20px;
        text-align: center;
        width: 40%;
        margin: 0 auto;
    }  
    
    .contacto__text p{
        padding: 0;
        margin: 0;
    }
    
    .btn-color{
        background-color: rgba(226, 226, 226, 1);
    }

    .section-form{
        height: 64vh;
    }

}
         
